.customdiv{
	
}

.logom{
	position: relative;


	background-color: #f7f8f9;


}

.logomm{
	position: relative;
}	
  .btn-outline{
	color:#f7f8f9;
	background-color:transparent;
	border-color:black;

}


	.con
	{
		border-spacing: 50px;
	text-align: center;
	margin-top:100px;
		margin-bottom:50px;
	}

hr{
	border : 1px solid  silver;

 
border-spacing: 60px;
}

.imgmr
{
	position: relative;
	top:80px;
    text-align: left;
    border-spacing: 10px;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #f8bb3d;
  text-align: center;
}
.txtm
{
	
	margin-top:100px;
	margin-bottom:100px;
	text-align: center;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-weight: 100;

}

body{
	background-color: #5b4842;
}